body {
    font-family: Arial, sans-serif;
    background-color: #1e2535; /* Bleu foncé */
    color: #fff; /* Texte blanc */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.stats-list {
    list-style: none;
    padding: 0;
}

.stats-list li {
    margin-bottom: 10px;
}

.stats-list li strong {
    color: #ffd700; /* Jaune */
}

h2 {
    color: #ffd700; /* Jaune */
    border-bottom: 1px solid #ffd700; /* Jaune */
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li:last-child {
    margin-bottom: 0;
}

ul li a {
    color: #00bfff; /* Bleu clair */
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}