body {
    font-family: Arial, sans-serif;
    background-color: #1e2535; /* Bleu foncé */
    color: #fff; /* Texte blanc */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Au moins 100% de la hauteur de la fenêtre */
    overflow-y: scroll; /* Ajout de défilement vertical */
    scroll-behavior: smooth; /* Ajout d'effet de défilement doux */
}

.container {
    max-width: 800px; /* Augmentation de la largeur pour un contenu plus spacieux */
    padding: 30px; /* Augmentation de l'espacement intérieur */
    background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
    border-radius: 15px; /* Coins arrondis plus prononcés */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombre légère plus prononcée */
    text-align: center;
}

h1 {
    color: #ff8c00; /* Orange */
    margin-bottom: 30px; /* Augmentation de l'espacement sous le titre */
    font-size: 28px; /* Augmentation de la taille de la police */
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px; /* Augmentation de la largeur maximale de l'image */
    border-radius: 15px; /* Coins arrondis plus prononcés */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); /* Ombre légère plus prononcée */
    transition: transform 0.3s ease; /* Ajout de transition au survol */
}

img:hover {
    transform: scale(1.05); /* Effet de zoom légèrement réduit */
}

.stats-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px; /* Augmentation de l'espacement en dessous de la liste */
}

.stats-list li {
    margin-bottom: 15px; /* Réduction de l'espacement entre les éléments de liste */
}

.stats-list li strong {
    color: #ffd700; /* Jaune */
}

h2 {
    color: #ffd700; /* Jaune */
    border-bottom: 2px solid #ffd700; /* Bordure plus épaisse */
    padding-bottom: 10px; /* Augmentation de l'espacement sous le titre */
    margin-bottom: 20px; /* Augmentation de l'espacement sous le titre */
    font-size: 24px; /* Augmentation de la taille de la police */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px; /* Réduction de l'espacement entre les éléments de liste */
}

ul li:last-child {
    margin-bottom: 0;
}

ul li a {
    color: #87ceeb; /* Bleu clair */
    text-decoration: none;
    transition: color 0.3s ease; /* Ajout de transition au survol */
}

ul li a:hover {
    color: #00bfff; /* Bleu clair plus vif */
}