<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="../static/css/pokemons.css">
</head>
<body>
    <div class="container">
        <h1>Pokémon Form</h1>
        <!-- Affichage de l'image du Pokémon sélectionné depuis l'index.html-->
        <img src="{{.Image}}" alt="{{.Name}} Sprite">
        <form action="/pokemons" method="GET">
            <div class="mb-3">
                <label for="search" class="form-label">Search:</label>
                <input type="text" class="form-control" id= "search" name="search">
            </div>
            <button type="submit" class="btn btn-primary" value="id">Submit</button>
        </form>
        <ul class="list-group mt-3">
            {{ range . }}
                <li class="list-group-item">{{ . }}</li>
            {{ end }}
        </ul>
    </div>
   
</body>
</html>