<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} - Statistiques</title>
</head>
<body>
    <div class="container">
        <h1>Statistiques de {{.Name}}</h1>
        <!-- Affichage de l'image du Pokémon sélectionné depuis l'index.html-->
        <img src="{{.Image}}" alt="{{.Name}} Sprite">
        <!--Afficher tous les stats d'un Pokémon-->
        <ul class="stats-list">
            <li><strong>HP:</strong> {{.Stats.HP}}</li>
            <li><strong>Attack:</strong> {{.Stats.Attack}}</li>
            <li><strong>Defense:</strong> {{.Stats.Defense}}</li>
            <li><strong>Special Attack:</strong> {{.Stats.SpecialAttack}}</li>
            <li><strong>Special Defense:</strong> {{.Stats.SpecialDefense}}</li>
            <li><strong>Speed:</strong> {{.Stats.Speed}}</li>
        </ul>
        <!-- Affichage des types du Pokémon -->
        <h2>Types</h2>
        <ul>
            {{ range .ApiTypes }}
                <li>{{ .Name }}</li>
            {{ end }}
        </ul>

        <!-- Affichage des résistances modifiantes d'aptitudes pour les APIs -->
        <h2>Résistances Modifiantes d'Aptitudes pour les APIs</h2>
        <ul>
            {{ range .ResistanceModifyingAbilitiesForApis }}
                <li>{{ .Name }}</li>
            {{ end }}
        </ul>

        <!-- Affichage des générations d'API -->
        <h2>Générations d'API</h2>
        <ul>
            {{ range .ApiGenerations }}
                <li>{{ .ApiGeneration }}</li>
            {{ end }}
        </ul>

        <!-- Affichage des résistances d'API -->
        <h2>Résistances d'API</h2>
        <ul>
            {{ range .ApiResistances }}
                <li>{{ .Name }}</li>
            {{ end }}
        </ul>

        <!-- Affichage des évolutions d'API -->
        <h2>Évolutions d'API</h2>
        <ul>
            {{ range .ApiEvolutions }}
                <li>{{ .Name }}</li>
            {{ end }}
        </ul>

        <!-- Affichage des pré-évolutions d'API -->
        <h2>Pré-Évolutions d'API</h2>
        <ul>
            {{ range .ApiPreEvolutions }}
                <li>{{ .Name }}</li>
            {{ end }}
        </ul>

        <!-- Affichage des résistances avec aptitudes d'API -->
        <h2>Résistances avec Aptitudes d'API</h2>
        <ul>
            {{ range .ApiResistancesWithAbilities }}
                <li>{{ .Name }}</li>
            {{ end }}
        </ul>
    </div>
</body>
</html>